<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .Post.Title }}</title>
    <style type="text/css">
        form ul{
            margin: 0;
            padding: 0;
        }
        form li{
            list-style: none;
        }
        label{
            display:block;
            font-size: 11px;
        }
        input {
            width: 50em;
        }
        textarea {
            width: 50em;
            height: 15em;
        }
        textarea.keywords {
            width: 50em;
            height: 10em;
        }
        #input_description{
            height: 3em
        }
    </style>
</head>
<body>
<div style="width: 400px; float:right">
    <img src="http://www.developmentthatpays.com/images/episode{{ .Post.Id }}_333.png" />
    <p>Title: max length 70 (for YouTube)</p>
    <p>Description: max length 150 (for Google)</p>
    <p>Body min length: 200</p>
</div>
<h1>{{ .Post.Id }} - {{ .Post.Title }}</h1>

<form method="post" >
    <ul>
        <li>
            <label>Slug</label>
            <input name="slug" value="{{ .Post.Slug }}"  />
        </li>
        <li>
            <label>Title</label>

            <input name="title" value="{{ .Post.Title }}" id="input_title" />
            <span id="chars_title"></span>
        </li>
        <li>
            <label>Description</label>
            <textarea name="description" id="input_description" >{{ .Post.Description }}</textarea>
            <span id="chars_description"></span>
        </li>
        <li>
            <label>Published</label>
            <input name="published" value="{{ .Post.Date }}" id="input_published" />
        </li>
        <li>
            <label>Hashtags</label>
            <textarea name="hashtags" class="hashtags">
{{ range .Hashtags}}{{ .}}
{{ end }}</textarea>
        </li>
        <li>
            <label>Keywords</label>
            <textarea name="keywords" class="keywords">
{{ range .Keywords}}{{ .}}
{{ end }}</textarea>
        </li>
        <li id="top_keyword">
            <label>Top Result</label>
            <input name="top_result" value="{{ .Post.TopResult }}" />
            {{ if .Keywords }}
            <span>{{ index .Keywords 0 }}</span>
            <a href="/ajax/top_result">Suggest</a>
            {{ end }}

        </li>
        <li>
            <label>Click to Tweet</label>
            <input name="click_to_tweet" value="{{ .Post.ClickToTweet }}" />
        </li>

        <li>
            <input type ="submit" value="save" />
        </li>

        <li>
            <label>Body</label>
            <textarea name="body">{{ .Post.Body }}</textarea>
        </li>
        <li>
            <label>YouTubeId</label>
            <input name="yt_id" value="{{ .Post.YouTubeData.Id }}" />
        </li>

        <li>
            <label>YouTube</label>
            <textarea name="yt_body">{{ .Post.YouTubeData.Body }}</textarea>
        </li>

        <li>
            <label>Transcript</label>
            <textarea name="transcript">{{ .Post.Transcript }}</textarea>
        </li>

        <li>
            <input type ="submit" value="save" />
        </li>
    </ul>
</form>



<script src="/static/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function(){

        var maxLengthTitle = 70;
        var length = $('#input_title').val().length;
        var length = maxLengthTitle - length;
        $('#chars_title').text(length);

        $('#input_title').keyup(function () {
            var length = $(this).val().length;
            var length = maxLengthTitle - length;
            $('#chars_title').text(length);
        });


        var maxLengthDescription = 150;
        var length = $('#input_description').val().length;
        var length = maxLengthDescription - length;
        $('#chars_description').text(length);

        $('#input_description').keyup(function () {
            var length = $(this).val().length;
            var length = maxLengthDescription - length;
            $('#chars_description').text(length);
        });

        $('#top_keyword a').click(function(event) {
            event.preventDefault();

    //        http://localhost:8003/ajax/topresult?keyword=google
            $.ajax({
                // The URL for the request
                url: "/ajax/topresult",
                // The data to send (will be converted to a query string)
                data: {
                    keyword: $('#top_keyword span').text()
                },
                // Whether this is a POST or GET request
                type: "GET",
                // The type of data we expect back
                dataType : "text",
            })
            // Code to run if the request succeeds (is done);
            // The response is passed to the function
            .done(function( result ) {

                console.log(result)
                $('#top_keyword input').val(result)


                var img = $('<img />',
                        {
                            src: 'http://img.youtube.com/vi/' + result + '/sddefault.jpg',

                        })
                        .appendTo($('#top_keyword'));


//                $('#top_keyword').appendChild()http://img.youtube.com/vi/TK7lsZ4goIo/default.jpg


    //
    //            $( "<h1>" ).text( json.title ).appendTo( "body" );
    //            $( "<div class=\"content\">").html( json.html ).appendTo( "body" );
            })
            // Code to run if the request fails; the raw request and
            // status codes are passed to the function
            .fail(function( xhr, status, errorThrown ) {
                alert( "Sorry, there was a problem!" );
                console.log( "Error: " + errorThrown );
                console.log( "Status: " + status );
                console.dir( xhr );
            })
            // Code to run regardless of success or failure;
            .always(function( xhr, status ) {
//                alert( "The request is complete!" );
            });

        });

    });
</script>



</body>
</html>